.conteudo{
    margin-top: 20%;
  }
  
  .titulo{
    font-weight: bolder;
    font-size: xx-large;
    padding: 25px;
    color: #337744;
  }
  
  .entrada{
    --background: linear-gradient(to bottom , #9DC183 ,#4aac63,);
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    --highlight-background:  #9DC183;
  }
  
  .entrada.item-has-focus > ion-label {
    color: #2e2e2e !important;
  }
  
  .entradas{
    margin-top: 35px;
  }
  
  .criar{
    --background: linear-gradient(to bottom, #4aac63, #2e2e2e);
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .aceite{
    font-size: x-small;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .entrar{
    margin-top: 65px;
    display: flex;
    justify-content: center;
  }
  
  .login{
    margin-left: 10px;
    color:  #337744;
  }

  
.entrar1{
    color:#337744;
    margin-left: 190px;
  }

  .entrar2{
    color:#337744;
    margin-left: 10px;
  }