<ion-content>
  <div class="cabecalho"></div>
  <div class="ofertas">
    <div class="titulo">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <span> {{produto.nome}} </span>
          <ion-icon name="cart" color="danger" style="float: right;" (click)="bd.incluir(produto.codigo)"></ion-icon><br>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="star" color="danger" ></ion-icon>
            <span class="pontos">4,2</span>R$ {{produto.preco}}<br>
            <ion-button [routerLink]="['/frutas']">Voltar</ion-button>
  <ion-fab>
    <ion-fab-button [routerLink]="['/carrinhocompras']">
      <ion-icon name="cart"></ion-icon>
      <icon-badge>{{bd.carrinho.length}}</icon-badge>
    </ion-fab-button>
  </ion-fab>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div><br>
  </div>
</ion-content>