<ion-header>
  <ion-toolbar>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo">
    <ion-label class="titulo">Alterar dados</ion-label><br>
    <div class="entradas">
      <ion-item class="entrada">
        <ion-label position="floating">Usuário:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="entrada">
        <ion-label position="floating">E-mail:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="entrada">
        <ion-label position="floating">Senha: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="entrada">
        <ion-label position="floating">Celular:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="entrada">
        <ion-label position="floating">Cep:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="entrada">
        <ion-label position="floating">Numero:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <ion-col>
      <ion-label class="entrar1" [routerLink]="['/tabs']">Confirmar</ion-label>
      <ion-label class="entrar2" [routerLink]="['/login']">Voltar</ion-label>
    </ion-col>
  </div>
</ion-content>