.busca {
    --border-radius: 25px;
}

ion-badge{
    --background: linear-gradient(to bottom, #4aac63, #2e2e2e);
}

.pontos{
    color:  #2e2e2e;
    margin-left: 5px;
}

ion-card-title{
    font-weight: bolder;
}

.populares{
    font-size: larger;
    font-weight: bolder;
    color:  #337744;
    margin-left: 10px;
}

.rtitulo{
    font-weight: bolder;
    font-size: large;
}

.rsubtitulo{
    font-size: small;
    color: gray;
}
